<div class="sidebar pure-u">
    <div class="cover-img" style="background-image: url('{{ COVER_IMG_URL }}')">
        <div class="cover-body">
            <header class="header">
                <hgroup>
                    <h1 class="brand-main"><a href="/">{{ SITENAME }}</a></h1>
                    <p class="tagline">{{ TAGLINE }}</p>
                {% for title, link in MENUITEMS %}
                    <p class="links"><a href="{{ link }}">{{ title }}</a></p>
                {% endfor %}
                {% if DISPLAY_CATEGORIES_ON_MENU -%}
                {% for cat, null in categories %}
                    <p class="links"><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></p>
                {% endfor %}
                {% endif %}
                    <p class="social">
                {% for title, link in SOCIAL %}
                        <a href="{{ link }}">
                            <i class="fa fa-{{ title }} fa-3x"></i>
                        </a>
                {% endfor %}
                    <p>
                </hgroup>
            </header>
        </div>
    </div>
</div>
